---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Highlight from '../components/Highlight/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="About | Isaías Gutiérrez" description="About Isaías Gutiérrez" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
				object-position: 100px bottom;

				img {
					width: 1400px;
				}
			}

			.bio {
				font-size: var(--f-u2);
				line-height: 2;
				padding: 0.5rem;
			}

		</style>
	</head>
	<body>
		<Nav client:load/>
		<div class="wrapper">
			<h1>About Isaías</h1>
			<div class="heroImg">
				<img width="1400" height="350" src="/assets/about.jpg" />
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					Hello! My name is Isaías and I enjoy using technology and computer science to <Highlight>solve</Highlight> all kinds of problems. These interests started back in 2017 by automating everyday tasks that could be solved using programming languages. Since this moment, I began to dive into different technologies related to <Highlight>web development</Highlight>. After a while, I discovered the <Highlight>data science</Highlight> and <Highlight>machine learning</Highlight> field thanks to the scientific background that I gained during the degree in Biological Pharmaceutical Chemistry.  
				</p>
				<p>
					My main focus these days is generating <Highlight>solutions</Highlight> and <Highlight>knowledge</Highlight> through data analysis from different sources like biological systems, my own business, and other ones. To this end, I usually apply information theory, graph theory, linear regression, clustering, principal component analysis (PCA), etc. I also like developing different data pipelines and services using <Highlight>back</Highlight> and <Highlight>front-end</Highlight> technologies. 
				</p>
				<p>
					Throughout my journey, my love of <Highlight>teaching</Highlight> has accompanied me and this has made me teach different courses in chemistry and programming.
				</p>
				<p>
					Out of the office, you'll find me playing with my dog, reading and writing new stories, and running.
				</p>
				<p>
					Here are a few <Highlight>technologies</Highlight> I’ve been working with recently:
				</p>
				<ul>
					<li>Python</li>
					<li>R</li>
					<li>Flask</li>
					<li>JavaScript (ES6+)</li>
					<li>Java</li>
					<li>Docker</li>
				</ul>
			</div>
		</div>
		<Footer />
	</body>
</html>
