---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';
import Highlight from '../components/Highlight/index.jsx';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead title="Isaías Gutiérrez: Personal Site" description="Isaías Gutiérrez: Data Scientist, Developer, and Chemist..." />
		<style lang="scss">
			$w-tiny: 400px;
			$w-s: 750px;

			.hero {
				position: relative;
				overflow: hidden;

				@media (max-width: $w-tiny){
					height: 80vh;
				}

				@media (min-width: $w-s) {
					height: 45vw;
				}
			}

			.abilities{
				margin-right: 1.5rem;
			}

			.img {
				display: block;
				width: 100%;
				height: auto;
				@media (max-width: $w-tiny){
					height: 80vh;
				}
			}

			.gradient,
			.gradient2 {
				/* background-image: url('/assets/mesh-gradient.jpg'); */
				background: linear-gradient(to bottom, var(--c-blue), var(--c-blue-2));
				background-size: cover;
				pointer-events: none;
				mix-blend-mode: screen;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.gradient2 {
				mix-blend-mode: multiply;
				background-size: cover;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 2rem;
				padding-right: 6rem;

				@media (min-width: $w-s) {
					padding-left: 4rem;
				}
				@media (max-width: $w-tiny){
					margin-right: 3rem;
				}
			}

			.title {
				font-weight: 900;
				font-size: var(--f-u8);
				margin-bottom: 0.5rem;
				margin-top: 0;
				color: var(--t-bg-2);

				@media (min-width: $w-s) {
					font-size: var(--f-u12);
				}
				@media (max-width: $w-tiny){
					font-size: var(--f-u6);
				}
			}

			.grid {
				display: grid;
				grid-gap: 2rem;

				@media (min-width: 1200px) {
					grid-template-columns: 2fr 1fr;
				}
			}

			.sectionTitle {
				font-weight: 700;
				font-size: var(--f-u8);
				margin-top: 4rem;
				margin-bottom: 2rem;
			}

			.role {
				position: relative;
				display: inline-block;
				font-weight: 900;
				color: var(--t-fg);
				background-color: var(--t-bg);
				padding: 0.25em 0.5em;
				margin: 0.5em 0em;
				z-index: 2;

				@media (min-width: $w-s) {
					font-size: var(--f-u3);
				}

				+ .role {
					margin-left: 1em;
				}

				&:nth-of-type(1) {
					.invert {
						background-color: var(--c-pink);
					}
				}

				&:nth-of-type(2) {
					.invert {
						background-color: var(--c-blue);
					}
				}

				&:nth-of-type(3) {
					.invert {
						background-color: var(--c-green);
					}
				}

				&:hover {
					.invert {
						clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					}
				}
			}

			.invert {
				position: absolute;
				color: var(--t-bg);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
				transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
			}

			.desc {
				font-size: var(--f-u2);
				margin-top: 1.5rem;
				margin-bottom: 0;
				margin-right: 1.5rem;
				@media (max-width: $w-tiny){
					font-size: var(--f-d1);
				}
			}

			.subtitle {
				display: block;
				font-weight: 400;
				font-size: var(--f-d6);
				letter-spacing: -0.0625em;
			}

			.bio {
				line-height: 2;
				margin-bottom: 2rem;
				font-size: var(--f-u2);

				> span:first-of-type {
					line-height: 1;
					margin-bottom: 0.5em;
					display: block;
					font-weight: 700;
					font-size: var(--f-u4);
				}
			}
		</style>
	</head>
	<body>
		<Nav client:load></Nav>
		<header class="hero">
			<img
				width="1200"
				height="1600"
				class="img"
				src="/assets/back2.jpg"
				sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px"
			/>
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">
					<small class="subtitle">The personal site of </small>Isaías Gutiérrez
				</h1>
				<div class="abilities">
					<span class="role">&#128202 Data Scientist <span class="invert">&#128202 Data Scientist </span></span>&nbsp;
					<span class="role">&#129514 Pharmacist <span class="invert">&#129514 Pharmacist</span></span>&nbsp;
					<span class="role">👩‍💻 Developer<span class="invert">👩‍💻 Developer</span></span>&nbsp;
				</div>
				<p class="desc">Problem resolver and lover of data, books, and dogs.</p>
			</div>
		</header>
		<main class="wrapper mt4 mb4">
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">Selected Work</h3>
					<PortfolioPreview project={featuredProject} />
					<div class="tac mt4">
						<a href="/projects">
							<Button>View All</Button>
						</a>
					</div>
				</div>
				<div class="section">
					<h3 class="sectionTitle">About me</h3>
					<p class="bio">
						<span>Hello!</span> I’m a <Highlight>data scientist</Highlight> and <Highlight>pharmacist</Highlight> focused on resolving problems from our environment using the techniques and tools <Highlight>needed</Highlight> in each specific case. I also have experience developing software. 
					<p>
						<a href="/about">Read more</a>
					</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
